<p>
  Login using this form:
</p>
<form role="form" action="/auth/atlassian-crowd?next=/" method="post">
  <div>
    Username: <input type="username" name="identifier" class="form-control" placeholder="Username" required="">
  </div>
  <div>
    Password: <input type="password" name="password" class="form-control" placeholder="Password" required="">
  </div>
  <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
</form>
